body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
h1 {
    margin-bottom: 20px;
}
input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
.container {
    max-width: 600px;
    margin: auto;
}
.record {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
}


/* styles.css */

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: darkgreen;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: white;
}

tbody tr:nth-child(even) {
    background-color: lightgreen;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center; /* Center-align text */
}

