body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
h1 {
    margin-bottom: 20px;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
.container {
    max-width: 600px;
    margin: auto;
}
.record {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
}


/* styles.css */

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: darkgreen;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: white;
}

tbody tr:nth-child(even) {
    background-color: lightgreen;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center; /* Center-align text */
}




/* Tab styles */
.tab-container {
    display: flex;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.active-tab {
    background-color: #45a049;
}


.updateFormDiv {
    display: flex;
    align-items: center;
}

.updateFormDiv label {
    margin-right: 10px;
    font-weight: bold;
    flex-shrink: 0; /* Ensure the label does not grow or shrink */
    text-align: right;
    min-width: 50px;
}

.updateFormDiv input[type="text"] {
    flex-grow: 1;
}


.red-button {
    background-color: red;
    color: white;
}